[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Dmitry Medvedev (dmitmedv)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Dmitry Medvedev (dmitmedv)
	label-Code-Review = -2..+2 group user/anton199498
	label-Verified = -1..+1 group user/Dmitry Medvedev (dmitmedv)
	push = group user/Dmitry Medvedev (dmitmedv)
	push = group user/anton199498
	read = group user/Dmitry Medvedev (dmitmedv)
	read = group user/anton199498
	rebase = group user/Dmitry Medvedev (dmitmedv)
	removeReviewer = group user/Dmitry Medvedev (dmitmedv)
	submit = group user/Dmitry Medvedev (dmitmedv)
	submit = group user/anton199498
[access "refs/heads/*"]
	create = group user/Dmitry Medvedev (dmitmedv)
	push = +force group user/Dmitry Medvedev (dmitmedv)
	pushMerge = group user/Dmitry Medvedev (dmitmedv)
	read = group user/Dmitry Medvedev (dmitmedv)
[access "refs/tags/*"]
	push = group user/Dmitry Medvedev (dmitmedv)
	push = +force group user/Dmitry Medvedev (dmitmedv)
